<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=0">
  <link rel="stylesheet" type="text/css" href="fonts/lato/lato.css"/>
  <link rel="stylesheet" type="text/css" href="css/style.bundle.css"/>
  <title><%=title%></title>
</head>
<body>

