$header-size: 15rem
$content-padding: 3.125rem
$content-body-padding: 4.6875rem
$max-width: 3840
$max-height: 2160

@function size($s)
  $result: $s * 100 / $max-width * 1%
  @return $result

*
  box-sizing: border-box

html
  //height: $max-height * 1px
  height: 100%
  font-size: 16px
  min-width: 1024px

body
  height: 100%
  //overflow: hidden
  color: #fff
  font-family: "Lato", "Arial", sans-serif
  font-weight: 400

.header
  text-transform: uppercase
  font-weight: 700
  font-size: 6.25rem
  height: $header-size
  align-items: center
  justify-content: center
  display: flex

.header__thin
  font-weight: 400
  margin-left: 1rem

.content
  width: 100%
  //max-width: $max-width * 1px
  max-width: 100%
  height: 100%
  //background: linear-gradient(109.59deg, #2274a2 0.09%, #653abf 72.19%, #bb2b3d 109.2%)
  padding: 0 $content-padding $content-padding
  background-position: center
  background-repeat: no-repeat
  background-size: cover

.content__body
  background-color: #fff
  height: calc(100% - #{$header-size})
  width: 100%
  padding: $content-body-padding
  color: #2f4267

.items
  display: flex
  justify-content: center
  height: 100%

.item
  height: 100%
  flex: 0 1 50%
  display: flex
  flex-direction: column
  align-items: center
  &__header
    height: 30%
    flex-direction: column
    align-items: center
    justify-content: center
    display: flex
  &__body
    //padding-top: 0.625rem
    height: 70%
    margin-top: 50px
    border: 1px solid #b7bcc7
    width: 100%
    position: relative
    display: flex
    align-items: end
    justify-content: center
  &__title
    color: #BD0A2F
    text-transform: uppercase
    //margin: 0 auto 6.875rem auto
    margin: 0 auto 0 auto
    font-weight: 700
    letter-spacing: -1px
    font-size: 3.125rem
    line-height: 4rem
  &__employee
    display: flex
    flex-direction: column
    align-items: center
  &__value
    color: #fff
    font-weight: 900
    font-size: 5.3125rem
    writing-mode: vertical-lr
    white-space: nowrap
    letter-spacing: -0.125rem
    transform: rotate(180deg)
    position: relative
    //bottom: 1rem
    padding: 3.125rem 0.625rem 3.125rem 0.625rem
//left: 50%
//margin-left: 2.65625rem

.item + .item .item__body
  border-left: none

.item-grafik
  height: 100%
  border-radius: 5px 5px 0 0
  position: relative
  display: flex
  align-items: end
  justify-content: center
  max-width: 19.375rem
  width: 100%
  //bottom: 0
  //left: 3.75rem
  //right: 3.75rem
  //padding: 0.625rem 0.625rem 3.125rem 0.625rem
.item-employee
  //height: 100%
  &__photo
    //width: 100%
    //max-width: 300px
    //min-width: 100px
    //max-height: 300px
    //min-height: 100px
    height: 18.75rem
    width: 18.75rem
    display: flex
    justify-content: center
    align-items: center
    border-radius: 10px
    position: relative
    overflow: hidden
    margin-bottom: 2.5rem
    &:before
      content: ''
      position: absolute
      left: 0
      right: 0
      top: 0
      bottom: 0
      z-index: 10
      border: 12px solid rgba(255, 255, 255, 0.5)
    img
      max-width: 100%
      position: absolute
      object-fit: cover
      height: 100%
  &__name
    text-align: center
    color: #2F4267
    font: 500 3.25rem / 120% "Lato", sans-serif
    margin-bottom: 5rem

//топ ПРОДАЖ акционных товаров (месяц)
.bg-1
  background-image: url("../img/bg-1.jpg")

.bg-2
  background-image: url("../img/bg-2.jpg")

.bg-3
  background-image: url("../img/bg-3.jpg")

.bg-4
  background-image: url("../img/bg-4.jpg")

.bg-5
  background-image: url("../img/bg-5.jpg")

.bg-6
  background-image: url("../img/bg-6.jpg")

.bg-7
  background-image: url("../img/bg-7.jpg")

.bg-8
  background-image: url("../img/bg-8.jpg")
.bg-9
  background-image: url("../img/bg-9.jpg")


//@media (max-width: 2560px)
//  html
//    font-size: 8px
//  .item
//    &__value
//      font-weight: 700
//
//
//@media (max-width: 2000px)
//  .content
//    padding-left: 0
//    padding-right: 0
//    &__body
//      padding-left: 0
//      padding-right: 0

