<% var data = {
title: "wolf"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<!--<div class="item-employee__photo">-->
<!--  <img src="./img/photo.jpg" alt="Сотрудник">-->
<!--</div>-->
<div class="content bg-2">
  <h1 class="header">
    топ ПРОДАЖ акционных товаров
    <span class="header__thin">(месяц)</span></h1>

  <div class="content__body" id="content__body">
    <div class="items" id="items">

    </div>
  </div>
</div>

<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
