<% var data = {
title: "wolf"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<!--<div class="item-employee__photo">-->
<!--  <img src="./img/photo.jpg" alt="Сотрудник">-->
<!--</div>-->

<ul>
  <li>
    <a href="index-1.html">Топ продаж 1</a>
  </li>
  <li>
    <a href="index-2.html">Топ продаж 3</a>
  </li>
  <li>
    <a href="index-3.html">план продаж (месяц)</a>
  </li>
  <li>
    <a href="index-4.html">количество работающих клиентов</a>
  </li>
  <li>
    <a href="index-5.html">объем продаж (месяц)</a>
  </li>
  <li>
    <a href="index-6.html">продажа акционных товаров (месяц)</a>
  </li>
  <li>
    <a href="index-7.html">размер дебиторской задолженности (месяц)</a>
  </li>
  <li>
    <a href="index-8.html">неработающие закрепленные компании (продажи до 2021)</a>
  </li>
  <li>
    <a href="index-9.html">Количество клиентов в CRM</a>
  </li>
  <li>
    <a href="index-10.html">размер дебиторской задолженности</a>
  </li>
  <li>
    <a href="index-11.html">план продаж (месяц) худшие</a>
  </li>
  <li>
    <a href="index-12.html">количество работающих клиентов худшие</a>
  </li>
  <li>
    <a href="index-13.html">объем продаж (месяц) худшие</a>
  </li>
  <li>
    <a href="index-14.html">продажа акционных товаров (месяц) худшие</a>
  </li>
  <li>
    <a href="index-15.html">размер дебиторской задолженности (месяц) худшие</a>
  </li>
  <li>
    <a href="index-16.html">неработающие закрепленные компании (продажи до 2021) худшие</a>
  </li>
</ul>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
